/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  width: 100%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  font-size: 1.8rem;
  color: white;
  background: #3f7569;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 5%;
}
@media (max-width: 800px) {
  header {
    padding: 0 2%;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
header a {
  height: 100%;
}
header a img {
  height: 100%;
  width: auto;
}
@media (max-width: 550px) {
  header a img {
    height: 80%;
    width: auto;
  }
}
@media (max-width: 500px) {
  header a img {
    width: 50%;
    height: auto;
  }
}
header nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
}
@media (max-width: 800px) {
  header nav {
    width: 90%;
    justify-content: space-around;
  }
}
@media (max-width: 550px) {
  header nav {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
header nav a {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 15%;
  margin-left: 15%;
}
header nav a:hover {
  color: #bfbfbf;
}
@media (max-width: 800px) {
  header nav a {
    width: 40%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  header nav a {
    padding: 2% 0;
    width: 100%;
    border-top: 3px solid #9ab4ac;
  }
  header nav a:hover {
    background: #519687;
  }
}
.topContent {
  width: 100%;
  margin: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .topContent {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .topContent {
    margin-top: 0;
    padding-top: 0;
  }
}
.topContent img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-left: 5%;
  flex-shrink: 0;
}
@media (max-width: 1000px) {
  .topContent img {
    width: 90%;
    margin: 0 5%;
  }
}
@media (max-width: 500px) {
  .topContent img {
    display: none;
  }
}
.topContent .mobileDev {
  display: none;
}
@media (max-width: 500px) {
  .topContent .mobileDev {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
  }
}
.topContent .topText {
  width: 30%;
  margin-right: 5%;
}
@media (max-width: 1000px) {
  .topContent .topText {
    width: 90%;
    margin: 0 5%;
  }
}
.topContent .topText h2 {
  margin: 4%;
}
@media (max-width: 1000px) {
  .topContent .topText h2 {
    margin-left: 0;
  }
}
.bottomContent .codeIcon {
  height: 5rem;
  margin: 0 2% 0 5%;
  float: left;
}
@media (max-width: 500px) {
  .bottomContent .codeIcon {
    height: 4rem;
  }
}
.bottomContent h3 {
  padding: 1.5% 4% 0 4%;
  font-size: 3.5rem;
}
.bottomContent hr {
  border: 3px solid #3f7569;
  margin-top: 1%;
}
@media (max-width: 800px) {
  .bottomContent hr {
    margin-top: 2%;
  }
}
.bottomContent .bioBoxes {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5%;
}
@media (max-width: 800px) {
  .bottomContent .bioBoxes {
    flex-direction: column;
    align-items: center;
  }
}
.bottomContent .bioBoxes .bioBox {
  width: 45%;
  border-radius: 10px;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .bottomContent .bioBoxes .bioBox {
    width: 65%;
  }
}
@media (max-width: 500px) {
  .bottomContent .bioBoxes .bioBox {
    width: 80%;
  }
}
.bottomContent .bioBoxes .bioBox h4 {
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
  color: white;
  background: #9ab4ac;
  border-radius: 10px;
  padding: 2% 0;
}
.bottomContent .bioBoxes .bioBox img {
  width: 30%;
  margin: 0 4%;
  border-radius: 50%;
  float: left;
}
.bottomContent .bioBoxes .bioBox p {
  margin: 0 4%;
}
.bottomContent .bioBoxes .bioBox p a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4%;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  line-height: 1.5;
}
.bottomContent .bioBoxes .bioBox p a:hover {
  opacity: 60%;
}
@media (max-width: 500px) {
  .bottomContent .bioBoxes .bioBox p a {
    font-size: 2rem;
  }
}
.bottomContent .bioBoxes .bioBox p a .socialIcon {
  margin-top: 1%;
  height: 3rem;
  width: auto;
}
footer {
  background: #3f7569;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
}
footer .iconBox {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
@media (max-width: 800px) {
  footer .iconBox {
    width: 45%;
  }
}
@media (max-width: 500px) {
  footer .iconBox {
    width: 100%;
  }
}
footer .iconBox a .icon {
  height: 50px;
  border-radius: 20%;
}
footer .iconBox a .icon:hover {
  opacity: 60%;
}
